@import 'config';
@import 'menu';

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 0.5rem;
    // background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  // height: 100%;
  min-height: calc(100vh - 56px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
  &#about {
    overflow: hidden;
  }
}

// About Me

.about-section {
  display: flex;
  align-items: center;
  margin: 3rem 0 0 0;
  color: set-text-color($primary-color);

  .about-portrait {
    width: 200px;
    height: 200px;
    background: url(../img/portrait2.jpg);
    background-size: cover;
    border-radius: 50%;
    margin: 0 3rem 0 0;
  }

  .about-info {
    display: flex;
    flex-direction: column;

    div {
      padding: 1rem 0;
    }

    a {
      text-decoration: underline;
      cursor: pointer;
    }

    .resume-blog {
      display: flex;
      align-items: center;

      a {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding-right: 1.5rem;
        &:hover {
          color: $secondary-color;
          @include easeOut();
        }

        i {
          padding: 0 0.5rem;
        }
        div {
          padding: 0;
          text-decoration: underline;
        }
      }
    }
  }
}

// Work/Projects

.projects {
  margin-top: 3rem;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(3, 1fr);

  div {
    text-align: center;
  }

  .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    margin-bottom: 0.3rem;
    font-size: 18px;
    font-weight: 100;
  }

  img {
    width: 100%;
    border-radius: 5px;

    &:hover {
      box-shadow: 0px 0px 10px 0px $secondary-color;
      @include easeOut;
    }
  }

  .btn-div {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
  }
}

// Contact Page
.boxes {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

  div {
    padding: 0rem 0.5rem;
    text-align: left;
  }
}

// Button Styles
.btn {
  padding: 0.4rem 1rem;
  border: 0;
  margin: 0rem 0.5rem;
  border-radius: 5px;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
    @include easeOut;
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 56px;
}

@import 'mobile';
